body {
    margin: 0;
}

#tasto_Booleaner {
    color: #46b6e9;
}

header {
    background-size: contain;
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;

}

.logo {
    height: 50px;
    padding-top: 30px;
    padding-left: 10px;
}